.page {
  width: 100%;
  min-height: 100vh;
  background: #000;
  position: relative;
}

.imgWrapper {
  position: relative;
  width: 100%;
}

.info {
  position: absolute;
  height: 25%;
  width: 60%;
  top: 68%;
  left: 24%;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;

  & > div {
    height: 15%;
    width: 100%;
    font-size: 2.2rem;
    padding-left: 1rem;
  }
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.hotArea1 {
  position: absolute;
  cursor: pointer;
  top: 23%;
  left: 15%;
  width: 73%;
  height: 9%;
}

.hotArea2 {
  position: absolute;
  cursor: pointer;
  top: 36%;
  left: 15%;
  width: 73%;
  height: 9%;
}

.hotArea3 {
  position: absolute;
  cursor: pointer;
  top: 48%;
  left: 15%;
  width: 73%;
  height: 9%;
}
