.page {
    position: relative;
    width: 100%;
    height: 100vh;
}

.imgWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}

.centerWrapper {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
}

.centerImg {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.hotArea1 {
    position: absolute;
    cursor: pointer;
    /* background: rgba(255, 0, 0, 0.2); */
    top: 35%;
    left: 17%;
    width: 66%;
    height: 13%;
}

.hotArea2 {
    position: absolute;
    cursor: pointer;
    /* background: rgba(255, 0, 0, 0.2); */
    top: 54%;
    left: 17%;
    width: 66%;
    height: 13%;
}

.hotArea3 {
    position: absolute;
    cursor: pointer;
    /* background: rgba(255, 0, 0, 0.2); */
    top: 76%;
    left: 32%;
    width: 36%;
    height: 5%;
}

.input1 {
    position: absolute;
    top: 16%;
    left: 33%;
    width: 48%;
    height: 4%;
    /* background: rgba(255, 0, 0, 0.2); */
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
}

.input2 {
    position: absolute;
    top: 23.5%;
    left: 33%;
    width: 48%;
    height: 4%;
    /* background: rgba(255, 0, 0, 0.2); */
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
}

.uploadTag1 {
    position: absolute;
    top: 31%;
    right: 5%;
    color: #4caf50;
    font-size: 1.2rem;
}

.uploadTag2 {
    position: absolute;
    top: 50%;
    right: 5%;
    color: #4caf50;
    font-size: 1.2rem;
}