.page {
  width: 100%;
  min-height: 100vh;
  background: #000;
}

.imgWrapper {
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.btn1 {
  /* 调试阶段放开下面这行，上线前删掉 */
  /* background: rgba(255, 0, 0, 0.2); */
  position: absolute;
  width: 82%;
  height: 6%;
  top: 75%;
  left: 8%;
  z-index: 1;
  cursor: pointer;
}

.btn2 {
  /* 调试阶段放开下面这行，上线前删掉 */
  /* background: rgba(255, 0, 0, 0.2); */
  position: absolute;
  width: 39%;
  height: 6%;
  top: 83%;
  left: 9%;
  z-index: 1;
  cursor: pointer;
}

.btn3 {
  /* 调试阶段放开下面这行，上线前删掉 */
  /* background: rgba(255, 0, 0, 0.2); */
  position: absolute;
  width: 39%;
  height: 6%;
  top: 83%;
  left: 54%;
  z-index: 1;
  cursor: pointer;
}
